
.caja1 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.caja2 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.caja3 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.caja4 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.caja5 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.caja6 {
	
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;

}

.contenedor {
	width: 900px;
	height: 600px;

	margin: 0px auto;
}


	
	

	